*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .conteneur
{
    flex-wrap: nowrap;
    align-items: stretch;
    flex-direction: row;

   
}
.box1
{
    flex-basis: 65%;
    height: 175px;
    align-self: flex-end;
    background-color: orangered;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-direction: row;

}
.ved
{
    flex-basis: 50%;
    height: 175px;
    background-color: orangered;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-direction: row;
    
}

.red
{
    flex-basis: 420px;
    top: 100px;
    flex-direction: column;
    background-color: blue;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-direction: row;
}
.fil
{
    flex-basis: 50%;
    background-color: orangered;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-direction: row;
}

.web
{
    width: 70%;
}
.div{
    display: flex;
}
.div2 {
    display:flex ;
    color: white;
    text-align: center;
}
.div3 {
    display:flex ;
    text-align: center;
}
.cover
{
    flex-basis: 32%;
    height: 175px;
    background-color: orangered;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-direction: row;

}
.border
{
    flex-basis: 65%;
    height: 175px;
    background-color: orangered;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-direction: row;
}
.tetu
{
    flex-basis: 420px;
    top: 100px;
    flex-direction: column;
    background-color: blue;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-direction: row;
}
@media screen and (max-width: 948px){
    .div{
        display: flex;
        width: 100%;
        flex-wrap: wrap-reverse;
        flex-basis: 100%;
    }
    .box1{
         
         background-color: blue;
         width: 140%;
         flex-direction: column;
    }
    .red{
        flex-basis: 100%;
        background-color: orangered;
        height: 170px;
        }
    .fil
    {
        width: 150%;
    }
    .ved
    {
        width: 150%;
    }
    .div2
    {
        width: 140%;
    }
}